/***
Component Styles
***/

/* Layout components */

/* Navbar */

.navbar {
	.navbar__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}

	.navbar__logo {
		height: 2.5rem;
		width: 2.5rem;
		color: var(--headings);
	}

	.navbar__menu {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.navbar__menu-link {
		font-family: var(--monospace);
		font-size: var(--text-sm);
		color: var(--text-secondary);
		text-decoration: none;

		&.is-active,
		&:hover {
			color: color-mix(in srgb, var(--accent), var(--mix-color) 60%);
		}
	}
}

/* Regular Components */

/* Rich text */
.rt {
	> * + * {
		margin-top: 2.5rem;
	}

	h2 + *,
	h3 + *,
	h4 + *,
	h5 + *,
	h6 + * {
		margin-top: 1.5rem;
	}

	h2,
	.h2 {
		margin-top: 2rem;
	}

	ul > li + li,
	ol > li + li {
		margin-top: 0.5rem;
	}

	figure {
		margin-top: 2rem;
	}

	figure + figure {
		margin-top: 3rem;
	}
}

/* Figure */

figure {
	position: relative;
	padding-bottom: 3rem;

	@media screen and (min-width: 60rem) {
		margin-left: -4rem;
		margin-right: -4rem;
	}

	div {
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: -1rem;
			bottom: -1rem;
			border: 1px solid var(--border);
			border-top: 0;
			border-bottom: 0;
			user-select: none;
			pointer-events: none;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: -1rem;
			right: -1rem;
			top: 0;
			bottom: 0;
			border: 1px solid var(--border);
			border-left: 0;
			border-right: 0;
			user-select: none;
			pointer-events: none;
		}
	}

	img {
		position: relative;
		width: 100%;
	}

	figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: var(--monospace);
		font-size: var(--text-sm);
		color: var(--text-secondary);
	}
}
