/***
Component Styles
***/

/* Layout components */

/* Navbar */

.navbar {
	.navbar__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		padding: 1rem 0;
	}

	.navbar__logo {
		height: 2.5rem;
		width: 2.5rem;
		color: var(--headings);
		flex-shrink: 0;
		transition: all 0.3s ease-in-out;
        transform-origin: bottom center;

		&:hover {
			animation: wave 1s infinite;
		}
	}

	nav {
		position: relative;
		overflow: hidden;
	}

	nav::before,
	nav::after {
		content: "";
		display: block;
		z-index: 1;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 2rem;
		background: linear-gradient(to right, var(--bg) 0%, transparent 100%);
	}

	nav::after {
		right: 0;
		left: auto;
		background: linear-gradient(to left, var(--bg) 0%, transparent 100%);
	}

	.navbar__menu {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 1rem;
		overflow-x: auto;
		padding: 0 2rem;
		scroll-snap-type: x mandatory;
	}

	.navbar__menu::-webkit-scrollbar {
		display: none;
	}

	.navbar__menu-item {
		scroll-snap-align: center;
		padding: 1rem;
		margin: -1rem;
	}

	.navbar__menu-link {
		font-family: var(--monospace);
		font-size: var(--text-sm);
		color: var(--text-secondary);
		text-decoration: none;
		transition: all 0.3s ease-in-out;

		&.is-active,
		&:hover {
			color: color-mix(in srgb, var(--accent), var(--mix-color) 60%);
		}
	}

	&:has(.navbar__menu-link:hover, .navbar__logo:hover) {
		.navbar__menu-link:not(:hover),
		.navbar__logo:not(:hover) {
			opacity: 0.25;
			/* filter: blur(4px); */
		}
	}
}

@keyframes wave {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-5deg);
    }
}

/* Header */

header {
	padding-top: 4rem;
	padding-bottom: 2rem;

	.header__wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.header__title-bar {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.header__slug {
		font-family: var(--monospace);
		font-size: var(--text-sm);
		color: var(--text-secondary);
	}

	.home-title {
		font-style: italic;
	}

	.tag__bar {
		margin-top: 1rem;
	}

	.header__lead p:first-child {
		font-weight: 500;
	}
}

/* Main */
.regular-page .rt {
	h2,
	.h2 {
		margin-top: 3rem;
		font-family: var(--monospace);
		color: color-mix(in srgb, var(--border), var(--mix-color) 30%);
		font-weight: 300;
		font-size: var(--text-base);
	}

	h2 + *,
	.h2 + * {
		margin-top: 1rem;
	}
}

/* Footer */
footer {
	font-size: var(--text-sm);
	font-family: var(--monospace);
	color: var(--text-secondary);

	.footer__symbols {
		padding-top: 4rem;
		padding-bottom: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		font-size: var(--text-base);
		font-family: var(--serif);
		color: var(--text-secondary);
		user-select: none;
	}

	.footer__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding-bottom: 2rem;
	}

	.footer__socials {
		ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: var(--text-base);
		}

		a {
			padding: 0.5rem;
			text-decoration: none;
			color: var(--text-secondary);
			transition: color 0.3s ease-in-out;

			&:hover {
				color: var(--hover-color, var(--accent));
			}

			&.bluesky {
				--hover-color: var(--sky);
			}

			&.mastodon {
				--hover-color: var(--indigo);
			}

			&.github {
				--hover-color: var(--green);
			}

			&.email {
				--hover-color: var(--blue);
			}

			&.rss {
				--hover-color: var(--orange);
			}
		}
	}

	.footer__message {
		text-align: center;
	}

	.footer__divider {
		border-top: 1px solid var(--border);
	}

	.footer__bar {
		padding: 2rem 0;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		font-size: var(--text-xs);
		gap: 2rem;
		text-align: center;

		@media screen and (min-width: 60rem) {
			flex-direction: row;
			justify-content: space-between;
		}

		.btt {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 2rem;
			width: 2rem;
			text-decoration: none;
			background-color: var(--bg-secondary);
			transition: background-color 0.3s ease-in-out;
			font-size: var(--text-base);

			&:hover {
				background-color: color-mix(
					in srgb,
					var(--bg-secondary),
					var(--mix-color) 5%
				);
			}

			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: -0.5rem;
				bottom: -0.5rem;
				border-left: 1px solid var(--border);
				border-right: 1px solid var(--border);
				user-select: none;
				pointer-events: none;
			}

			&::after {
				top: 0;
				bottom: 0;
				left: -0.5rem;
				right: -0.5rem;
				border: 0;
				border-top: 1px solid var(--border);
				border-bottom: 1px solid var(--border);
			}
		}
	}
}

/* Regular Components */

/* Rich text */
.rt {
	> * + *:not(p, ul, ol, aside, section) {
		margin-top: 2.5rem;
	}

	> p {
		margin-top: 1rem;
	}

	> ul,
	> ol {
		+ p {
			margin-top: 1.5rem;
		}
	}

	> h2 + *,
	> h3 + *,
	> h4 + *,
	> h5 + *,
	> h6 + * {
		margin-top: 1.5rem;
	}

	> h2,
	> .h2 {
		margin-top: 2rem;
	}

	> ul,
	> ol {
		margin-top: 1.5rem;
		padding-left: 0;
	}

	li + li {
		margin-top: 0.5rem;
	}

	> ul li::marker {
		color: color-mix(in srgb, var(--border), var(--mix-color) 30%);
	}

	> figure {
		margin-top: 2rem;
	}

	> figure + figure {
		margin-top: 3rem;
	}
}

/* Figure */

figure {
	position: relative;
	padding-bottom: 3rem;

	@media screen and (min-width: 60rem) {
		margin-left: -4rem;
		margin-right: -4rem;
	}

	div {
		position: relative;

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			z-index: 1;
			left: 0;
			right: 0;
			top: -1rem;
			bottom: -1rem;
			border-left: 1px solid var(--border);
			border-right: 1px solid var(--border);
			user-select: none;
			pointer-events: none;
		}

		&::after {
			top: 0;
			bottom: 0;
			left: -1rem;
			right: -1rem;
			border: 0;
			border-top: 1px solid var(--border);
			border-bottom: 1px solid var(--border);
		}
	}

	img {
		position: relative;
		z-index: 0;
		width: 100%;
	}

	figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: var(--monospace);
		font-size: var(--text-sm);
		color: var(--text-secondary);
		user-select: none;
	}
}

/* Tags */

.tag__bar {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.tag__bar:not(:has(.tag)) {
	display: none;
}

.tag {
	display: inline-block;
	position: relative;
	background-color: var(--bg-secondary);
	font-family: var(--monospace);
	font-size: var(--text-sm);
	padding: 0.25rem 0.5rem;
	user-select: none;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: -0.5rem;
		bottom: -0.5rem;
		border-left: 1px solid var(--border);
		border-right: 1px solid var(--border);
		user-select: none;
		pointer-events: none;
	}

	&::after {
		top: 0;
		bottom: 0;
		left: -0.5rem;
		right: -0.5rem;
		border: 0;
		border-top: 1px solid var(--border);
		border-bottom: 1px solid var(--border);
	}
}

/* Home hover effect */
[data-hover-word] {
	transition: all 0.3s ease-in-out;

	.ampersand {
		font-family: var(--serif);
		font-style: italic;
	}
}

[data-hover-group]:has([data-hover-word]:hover) [data-hover-word] {
	opacity: 0.25;
	/* filter: blur(4px); */
}

[data-hover-group]:has([data-hover-word="curious"]:hover)
	[data-hover-word="curious"],
[data-hover-group]:has([data-hover-word="creative"]:hover)
	[data-hover-word="creative"],
[data-hover-group]:has([data-hover-word="coder"]:hover)
	[data-hover-word="coder"] {
	opacity: 1;
	filter: none;
}

/* Blocks */

/* Posts Archive */

.posts-archive,
.posts-preview {
	display: grid;
	gap: 2rem;

    &:has(.post-item:hover) {
        .post-item:not(:hover) {
            opacity: 0.25;
        }
    }

    h2 {
		display: flex;
		justify-content: space-between;
	}
}

.posts-preview {
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Post Item */

.post-item {
    padding: 0.5rem 0;
    margin-top: 0;
    transition: all 0.3s ease-in-out;

	a {
		text-decoration: none;
		font-weight: inherit;
		display: flex;
		align-items: baseline;
		gap: 1rem;
	}

	time {
		font-family: var(--monospace);
		color: var(--text-secondary);
        font-size: var(--text-xs);
	}

	h3 {
		font-size: var(--text-base);
		font-weight: 500;
	}

	.post-item__content {
		display: grid;
		gap: 0.5rem;
		justify-items: start;
	}

	.post-item__featured {
        --border: hsl(from var(--yellow) h s l / 0.2);

        position: relative;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		margin-top: 0;
		font-size: var(--text-xs);
        line-height: 1;
        /* border: 1px solid hsl(from var(--yellow) h s l / 0.2); */
		/* border-radius: 9999px; */
		padding: 0.4rem 0.5rem;
		background: linear-gradient(
			to right,
			hsl(from var(--yellow) h s l / 0.3) 0%,
			hsl(from var(--yellow) h s l / 0.05) 100%
		);
		color: hsl(from var(--yellow) h s calc(l / 2));

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: -0.25rem;
            bottom: -0.25rem;
            border-left: 1px solid var(--border);
            border-right: 1px solid var(--border);
            user-select: none;
            pointer-events: none;
        }

        &::after {
            top: 0;
            bottom: 0;
            left: -0.25rem;
            right: -0.25rem;
            border: 0;
            border-top: 1px solid var(--border);
            border-bottom: 1px solid var(--border);
        }

        i {

            color: var(--yellow);
        }
	}
}

/* Slash Pages */
.slash-pages {
	position: relative;
	background-color: var(--bg-secondary);
	margin-top: 3rem;
	margin-bottom: 3rem;

	@media screen and (min-width: 60rem) {
		margin-left: -1rem;
		margin-right: -1rem;-
	}

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: -1rem;
		bottom: -1rem;
		border-left: 1px solid var(--border);
		border-right: 1px solid var(--border);
		user-select: none;
		pointer-events: none;
	}

	&::after {
		top: 0;
		bottom: 0;
		left: -1rem;
		right: -1rem;
		border: 0;
		border-top: 1px solid var(--border);
		border-bottom: 1px solid var(--border);
	}

	h3 {
		font-family: var(--monospace);
		font-size: var(--text-sm);
		font-weight: inherit;
		color: var(--text-secondary);
		position: absolute;
		bottom: calc(100% + 0.25rem);
		left: 1rem;
	}

	&:has(a:hover) {
		a:not(:hover) {
			opacity: 0.25;
		}
	}

	article {
		&:not(:last-child) {
			border-bottom: 1px solid var(--border);
		}
	}

	a {
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		display: grid;
        gap: 0.5rem;
		padding: 0.75rem 1rem;
	}

	h4 {
		font-size: var(--text-base);
	}

    p {
        font-size: var(--text-xs);
        color: var(--text-secondary);
    }
}
